{% extends 'base.html' %}

{% block content %}
    <h2>About</h2>
    <p>This dashboard is an interface for the search and relevance classification of conservation biology articles. You can:</p>
    <ul>
        <li>Start a search for new articles to classify on the <b>Search</b> page.</li>
        <li>Filter and see the database of previously collected articles on the <b>Results</b> page.</li>
    </ul>
    <p>More conservation evidence on <a href="https://www.conservationevidence.com/">www.conservationevidence.com</a>.</p>
{% endblock %}
