{% extends 'base.html' %}

{% block content %}
    <h2>About</h2>
    <p>This dashboard is an interface for the search and relevance classification of conservation biology articles. You can:</p>
    <ul>
        <li>Start a search for new articles to classify on the 'Search' page.</li>
        <li>Filter and see the database of previously collected articles on the 'Results' page.</li>
    </ul>
    <p>Find out more about conservation evidence on <a href="https://www.conservationevidence.com/">www.conservationevidence.com</a>.</p>
{% endblock %}
