{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>
    <div id="description">
        <p> Processing the search query (scraping abstracts and classifying them)
            might take a while - you can see the sync status on the 'Sync' page.
            Upon completion the results will be added to the database 
            which can be seen on the 'Results' page.<br><br> </p>
    </div>
    <div>
        <form action="{{ url_for('handle_search_query') }}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-5">
                    <h5>General Search Criteria</h5>
                    <hr>
                    {% include 'components/criteria.html' %}
                <div class="col-md-5">
                    <h5>Search Specific Journals</h5>
                    <hr>
                    {% include 'components/journals.html' %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}