<div id="criteria">
    {% for c_name, c_label in criteria.items() %}
        <input type="checkbox" name="{{ c_name }}">
        <label for="{{ c_name }}">{{ c_label }}</label>
        <br/>
    {% endfor %}
    <br/>
    {% for d_name, d_label in dates.items() %}
        <label for="{{ d_name }}">{{d_label}} Date</label> <br/>
        <input name="{{ d_name }}" type="date" required>
        <br/>
        <br/>
    {% endfor %}
    <br>
    <input id="submit_query" type="submit" value="Submit Query">
    <br/>
    <br/>
</div>