<div class="row">
  <div class="col-md-10" id="results-table">
    <table class="table table-bordered table-hover">
        <!-- table header -->
        {% if result %}
        <thead class="thead-light">
            <tr>
                <th>#</th>
              {% for key in result[0] %}
              <th> {{ key }} </th>
              {% endfor %}
           </tr>
        <thead>
        <tbody>	
          <!-- table rows -->
          {% for article in result %}
          <tr>
             <td> {{(current_page - 1) * articles_per_page + loop.index}} </td>
             {% for value in article.values() %}
             <td>  {{ value|safe }} </td>
             {% endfor %}
          </tr>
          {% endfor %}
        </tbody>  
        {% endif %}
    </table>
    <nav aria-label="Results page navigation">
      <ul class="pagination justify-content-center">
        {% if current_page != 1 %}
          <li class="page-item"><a class="page-link" href="{{ url_for('results_table', page=current_page - 1) }}"><<</a></li>
        {% endif %}
          <li class="page-item"><a class="page-link" href="{{ url_for('results_table', page=current_page) }}">{{ current_page }}</a></li>
        {% if current_page != max_page %}
          <li class="page-item"><a class="page-link" href="{{ url_for('results_table', page=current_page + 1) }}">>></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
