.nav-link:active {
    color: #B3C200 !important;
}

.nav-link:hover {
    color: #B3C200 !important;
}

.nav-link {
    color: white !important;
}

.scroll {
    height: 250px;
    background-color: white;
    overflow-y: scroll;
    text-align: left;
    padding-left: 0px;
}

.base {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    margin: 0px;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

h2 {
    margin-top: 20px !important;
}

#grid_wrapper {
    display: flex;
}

#criteria {
    padding-left: 25px
}

#journals {
    padding-left: 25px
}

#description {
    padding-right: 25px;
}

#submit_query {
    align-self: center;
    background-color: #FD635A;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 24px;
    margin: 4px 2px;
}

#results-table {
    max-height: 80%;
    max-width: 100%;
    width: 100%;
    margin: 25px;
    flex: 0 0 97%;
    overflow-y: scroll;
    font-size: x-small;
}

#sidebar {
    padding-top: 20px;
}
